@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h3>
    <p>
        I want to say thanks to Alexander Isaev.
        It was a very pleasant experience for me.
        I hope we don't say goodbye!
    </p>
    <img src="~/img/love.jpeg" style="height: 30%; width: 30%;"/>
</h3>
