@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>


<p>If you can't choose where to save the file, please follow the instructions.</p>
<p> Google Chrome: </p>
<img style="width: 50%; height: 50%;"src="~/img/help.png" />