@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="card-title text-center">Welcome to the Vigenere Cipher Decoder</h2>
    <h4 class="card-title">Features of the site:</h4>
    <ul>
        <li>Encrypt text and files</li>
        <li>Decrypt text and files</li>
    </ul>
    <p class="h4"> Use the toolbar to navigate through my web app!</p>
    <p class="card-text">
        Github: <a class="card-link" href="https://github.com/DyAvr">DyAvr</a>

    </p>
    <img src="~/img/1111.jpg" style="width: 9%; height: 9%;" alt="" />
</div>
