@{
    
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>The web application is used for non-commercial purposes!</p>
    <img class="card-img" src="~/img/what.jpeg" style="height: 30%; width: 30%;" alt="" />
</div>